body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color:#B8860B;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  color: #fff;
  padding: 33px 20px;
}

.main {
  /* background-colorの指定を消してください */
  
  /* heightの指定を消してください */
  
  /* 上下のpaddingを100px、左右のpaddingを80pxにしてください */
  padding:80px 60px;
  
}

/* copy-containerの中のh1のfont-sizeを指定してください */
.copy-container h1 {
  font-size:65px;
}

/* copy-containerの中のh2のfont-sizeを指定してください */
.copy-container h2 {
  font-size:30px;
}

/* copy-containerの中のspanの色を指定してください */
.copy-container span{
  color:#B8860B;
}

.footer {
  background-color:#B8860B;
  color: #fff;
  height: 100px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 25px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
